# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore all RubyMine files
/.idea/*

# Ignore schema.rb
/db/schema.rb

# Ignore paperclip images
/public/spree/products
